@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.tff") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.tff") format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.tff") format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.tff") format('truetype');
  font-style: normal;
  font-weight: 500;
}
body {
  margin: 0;
  min-width: 320px;
  background-color: #fff;
  color: #1d1d1d;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.header__logo {
  text-transform: uppercase;
  color: #1d1d1d;
  font-weight: 300;
  font-size: 26px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}
.header__item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  padding-left: 24px;
  font-weight: normal;
}
.header__item a {
  color: #1d1d1d;
}
.header__item a:hover {
  color: #10c9c3;
}
.promo {
  min-height: 150px;
  padding-top: 90px;
  padding-bottom: 150px;
  background-image: url("../img/bg_4.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
.promo .wrapper {
  display: flex;
  justify-content: flex-end;
}
.promo__block {
  max-width: 500px;
}
.promo__title {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #e0e0e0;
  font-weight: normal;
}
.promo__description {
  color: #f5f5f5;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
}
.promo__link {
  padding: 15px 40px;
  background-color: #10c9c3;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.about {
  padding-top: 50px;
  padding-bottom: 110px;
}
.about__block {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  font-size: 30px;
  line-height: 60px;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}
.about__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #787878;
  font-weight: 500;
  margin: 0;
}
.features {
  background-color: #10c9c3;
  color: #fff;
}
.features__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
}
.features__item .features__text {
  max-width: 260px;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
}
