.article
  p Токарная обработка - обработка резанием наружных и внутренних поверхностей вращения, в том числе цилиндрических и конических, торцевание, отрезание, снятие фасок, обработка галтелей, прорезание канавок, нарезание внутренних и наружных резьб на токарных станках.
  p Токарные работы в ООО «Сталь-Технология» проводятся с помощью токарных станков ЧПУ (CNC) универсального типа и токарно-винторезных станков с УЦИ. Группа специального токарного оборудования производит обработку, как цветных металлов (бронза, латунь) и нержавейки, так и черных материалов, жаропрочных сталей, закаленных, цементированных, наше оборудование позволяет обрабатывать детали с твердостью HRC65 с максимальными скоростями резания.
  p Наша компания производит токарную обработку следующих поверхностей: наружных, внутренних, цилиндрических, конических, фасонных, торцевых поверхностей. Также осуществляется изготовление отрезки заготовки, нарезание наружных и внутренних резьб, вытачивания канавок и пазов. Наши возможности: Длина - до 3000 мм., Диаметр от 5 до 1000 мм.

  h4 Мы специализируемся в частности на изготовлении следующих деталей:
  ul
    li Валы
    li Ремонт колесных пар
    li Нестандартные изделия
    li Изделия из нержавеющей стали
    li Токарные работы
    li Токарные работы ЧПУ
    li Токарно-автоматные работы.

  p Мы можем изготовить изделие методом токарной обработки по чертажам, трехмерной модели или эскизу.