.article
  p ООО «Сталь-Технология» оказывает услуги по фрезерной обработке металла. Мы выполняем как отдельные операции по фрезерованию, так и изготовление готовых изделий методом фрезерной обработки. Изготавливаем детали по чертежам, эскизу или трехмерной модели.
  p ООО «Сталь-Технология» располагает фрезерным оборудованием с числовым программным управлением, которое позволяет выполнять фрезерные работы высокой точности и сложности.
  p Мы выполним фрезерные работы по металлам: сталь, нержавеющая сталь, латунь. Так же мы выполняем фрезеровку алюминия, титана, бронзы. Любые изделия могут быть подвергнуты поверхностной и термообработке.

  h4 ООО «Сталь-Технология» может производить фрезерные работы следующих типов:
  ul 
    li В зависимости от расположения шпинделя станка и удобства закрепления обрабатываемой заготовки используем универсально-фрезерные станки, позволяющие осуществлять горизонтальное и вертикальное фрезерование, а также фрезерование под разными углами различным инструментом.
    li В зависимости от типа инструмента (фрезы) — концевое, торцовое, периферийное, фасонное и т.д.
      ol 
        li Концевое фрезерование — пазы, канавки, подсечки; колодцы (сквозные пазы), карманы (пазы, стороны которых выходят более чем на 1 поверхность), окна (пазы, которые выходят только на одну поверхность).
        li Торцовое фрезерование — фрезерование больших поверхностей.
        li Фасонное фрезерование — фрезерование профилей. Примеры профильных поверхностей — шестерни, червяки, багет, оконные рамы.
        li Специализированные фрезы, предназначенные для отрезки (дисковые фрезы).