.article
  p Наша компания предоставляет услуги по термообработке металлов. Мы имеем возможность обработать детали размером до 400*400*800 мм, при t = 1200°С.
  p Термическая обработка металлов и сплавов — процесс тепловой обработки металлических изделий, целью которого является изменение структуры и свойств в заданном направлении.

  h4 Среди основных видов термической обработки следует отметить:
  ul
    li Отжиг (гомогенизация и нормализация). Целью является получение однородной зерненной микроструктуры и растворение включений. Последующее охлаждение является медленным, препятствующим образованию неравновесных структур типа мартенсита.
    li Закалку проводят с повышенной скоростью охлаждения с целью получения неравновесных структур типа мартенсита. Критическая скорость охлаждения, необходимая для закалки зависит от материала
    li Отпуск необходим для снятия внутренних напряжений, внесённых при закалке. Материал становится более пластичным при некотором уменьшении прочности.
    li Дисперсионное твердение (старение). После проведения отжига проводится нагрев на более низкую температуру с целью выделения частиц упрочняющей фазы. Иногда проводится ступенчатое старение при нескольких температурах с целью выделения нескольких видов упрочняющих частиц.