<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title Сталь-Технология
  body(data-page='about')
    include modules/header
    .company
      .wrapper
        .company__block
          h2 О нас
          p ООО «Сталь-Технология» ведёт свою историю с 2011 г. За всё время работы компании был накоплен богатый опыт в области обработки металлов. 
          p Наше предприятие обладает квалифицированными специалистами, способными изготавливать изделия различной степени сложности с точностью размеров до IT6. 
          p Класс обрабатываемых материалов – углеродистые, конструкционные, коррозионно-стойкие, жаропрочные стали, закалённые стали до 64 HRC, алюминиево-магниевые, титановые сплавы. 
          p Современный парк оборудования ООО «Сталь-Технология» позволяет выполнять работы в максимально короткие сроки с высоким уровнем качества. 
          p Профессионализм работников – лицо нашей компании. Наша основная задача в работе с клиентом сделать так, чтобы он обратился за нашей помощью снова.

          h3 Виды обработки материала:
          ul
            li токарные работы, в том числе на станках с ЧПУ
            li фрезерные работы, в том числе на станках с ЧПУ
            li шлифовальные работы
            li химико-термическая обработка металлов (отжиг, закалка, нормализация, цементация, нитроцементация, оксидирование)
            li сварные работы и другие виды обработки разнообразных материалов.
            li лазерная резка
            li гибка листового металла
          p ООО «Сталь-технология» успешно сотрудничает с такими предприятиями, как ООО «НИКБООР», ЗАО «ИТЗ», ОАО «ЭЗТМ», ООО «ЭЛЕМАШ МАГНИТ», АО "ВМЗ", АО "ПНТЗ", АО "ЧМЗ"
    include modules/footer