<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title Сталь-Технология
  body(data-page='about')
    include modules/header
    .company
      .wrapper
        .company__block
          h2 Основная концепция нашего предприятия
          p это индивидуальный подход к каждому клиенту, профессиональное выполнение заказа в максимально короткие сроки, приемлемые сроки изготовления, использование передовых технологий и качественно нового инструмента в производстве.
          p Предприятие укомплектовано профессиональными специалистами, которые имеют большой опыт работы в области металлообработки и сварки изделий. ООО «Сталь-технология» имеется токарное, фрезерное, шлифовальное, прессовое и другое оборудование, оснащенное ЧПУ.
          p Мы оказываем широкий спектр услуг по металлообработке, термообработке, сварке и прессованию изделий. Изготавливаем как простые детали, так и сложные сборные конструкции. Обрабатываем материалы с твердостью до HRC 65.

          h3 Виды обработки материала:
          ul
            li токарные работы, в том числе на станках с ЧПУ
            li фрезерные работы, в том числе на станках с ЧПУ
            li шлифовальные работы
            li термообработка металла ( закалка, отжиг, отпуск, нормализация )
            li сварные работы и другие виды обработки разнообразных материалов.
          p ООО «Сталь-технология» успешно сотрудничает с такими предприятиями, как ООО «НИКБООР», ЗАО «ИТЗ», ОАО «ЭЗТМ», ООО «ЭЛЕМАШ МАГНИТ» г. Электросталь, где размещает заказы на сварные металлоконструкции для металлообрабатывающего и подъемно-транспортного оборудования, инжиниринговую и конструкторскую документацию, штамповые изделия
    include modules/footer