<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title Сталь-Технология
  body#contacts(data-page='contacts')
    include modules/header
    main.contacts
      .wrapper
        .contacts__block
          .contacts__info
            h2.contacts__title Контактная информация:
            p.contacts__description  Мы находимся в г. Электросталь. Здесь будет информация о том как к нам доехать, куда позвонить и всякое такое. Часы работы - с понедельника по субботу с 9-00 до 19-00.
            ul.contacts__list
              li.contacts__item
                b Адрес:
                address 144001 Московская обл. г.Электросталь Промышленный проезд 9
              li.contacts__item
                b Email:
                a(href='mailto:stal.teh@mail.ru').contacts__email stal.teh@mail.ru
              li.contacts__item
                b Телефон:
                ul.contacts__phone-list
                  li.contacts__phone-item
                    a(href='tel:+79099457539').contacts__phone 8 (909) 945-75-39
                  li.contacts__phone-item
                    a(href='tel:+74950185725').contacts__phone 8 (495) 018-57-25
                  li.contacts__phone-item
                    a(href='tel:+79852602924').contacts__phone 8 (985) 260-29-24
          .contacts__form
            include modules/form
      .contacts__map
        include modules/map
    include modules/footer