<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title Сталь-Технология
  body(data-page='equipment')
    include modules/header
    .equipment
      .wrapper
        .equipment__block
          ul.equipment__list
            li.equipment__item
              h4 Токарно винторезные станки ДИП.
              img(src='img/dip.jpg')
              p Токарно-винторезный станок предназначен для обработки цилиндрических, конических и сложных поверхностей - как внутренних, так и наружных, а так же для нарезания резьбы. Для обработки торцовых поверхностей заготовок применяются разнообразные резцы, развертки, сверла, зенкеры, а так же плашки и метчики.
            li.equipment__item
              h4 Сверлильные станки.
              img(src='img/drill.jpg')
              p Сверлильные станки предназначены для выполнения сквозных и глухих отверстий, зенкерования, нарезания резьбы и прочих работ. Используются в профессиональных и домашних мастерских, на производстве, мебельных фабриках, стройплощадках и т.д. Сверлильные станки обрабатывают дерево, металл и пластик. Оснастка подбирается исходя из обрабатываемого материала.
            li.equipment__item
              h4 Фрезерные станки.
              img(src='img/milling.jpg')
              p Фрезерные станки предназначены для обработки с помощью фрезы плоских и фасонных поверхностей, зубчатых колёс и т. п. металлических и других заготовок.
            li.equipment__item
              h4 Электропечи камерные.
              img(src='img/electro.jpg')
              p Электропечи камерные предназначены для нагрева штучных заготовок или небольших контейнеров с заготовками под закалку, отжиг или нормализацию.
            li.equipment__item
              h4 Токарные станки с ЧПУ.
              img(src='img/CNC_lathe.jpg')
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio illum dignissimos facilis atque fugit veniam quibusdam praesentium voluptatum ut? Minus exercitationem quae nostrum assumenda earum eius laudantium numquam ex itaque.
            li.equipment__item
              h4 Фрезерные станки с ЧПУ(обрабат. центры).
              img(src='img/CNC_milling.jpg')
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut deserunt enim quod minus labore dolor, numquam itaque doloremque et voluptates. Ipsa debitis officia dolorum temporibus aperiam veniam et? Ratione, quaerat!
    include modules/footer