.about
  .wrapper
    .about__block
      h3.about__title О нашем предприятии
      p.about__description Мы занимаемся металлообработкой и изготовлением различных металлоизделий уже 6 лет. Наши специалисты обладают профессиональными качествами и богатым опытом. Высокоточное оборудование позволяет всякое разное. И так далее и тому подобное.