.features
  .wrapper
    ul.features__list
      li.features__item
        img(src="img/icon_features_2.svg", alt="time_icon" width="100").features__icon
        span.features__text Мы имеем большой опыт работы и являемся профессионалами в области металлобработки
      li.features__item
        img(src="img/icon_features_1.svg", alt="person_icon" width="100").features__icon
        span.features__text Изготовим металлоизделия по вашим чертежам и эскизам, поможем подобрать металл
      li.features__item
        img(src="img/icon_features_3.png", alt="robot_icon" width="100").features__icon
        span.features__text Используем токарное, фрезерное, шлифовальное, прессовое оборудование, оснащенное ЧПУ