.features
  .wrapper
    ul.features__list
      li.features__item
        img(src="img/icon_features_1.png", alt="person_icon").features__icon
        span.features__text Индивидуальный подход к каждому клиенту
      li.features__item
        img(src="img/icon_features_2.png", alt="time_icon").features__icon
        span.features__text Профессиональное выволнение заказа в максимально короткие сроки
      li.features__item
        img(src="img/icon_features_3.png", alt="robot_icon").features__icon
        span.features__text Использование передовых технологий и нового инструмента в производстве