footer.footer
  .wrapper
    .footer__block
      .footer__name
        a.footer__logo(href="index.html")
          div Сталь-Технология
        div.footer__copyright &copy; 2020
      .footer__contacts
        a(href='mailto:stal.teh@mail.ru').footer__email stal.teh@mail.ru
        a(href='tel:+79099457539').footer__phone 8 (977) 966-40-38 - офис
        a(href='tel:+79099457539').footer__phone 8 (909) 945-75-39
        a(href='tel:+74950185725').footer__phone 8 (495) 018-57-25
        a(href='tel:+79852602924').footer__phone 8 (985) 260-29-24
      .footer__menu
        ul.footer__list
          li.footer__item
            a(href="about.html") О нас
          li.footer__item
            a(href="services.html") Услуги
          li.footer__item
            a(href="equipment.html") Оборудование
      .footer__menu
        ul.footer__list
          li.footer__item
            a(href="works.html") Наши работы  
          li.footer__item
            a(href="contacts.html") Схема проезда