header.header
  .wrapper
    nav.header__nav
      a.header__logo(href="index.html")
        div.header__logo Сталь-Технология
      ul.header__list
        li.header__item
          a(href="about.html") О нас
        li.header__item
          a(href="services.html") Услуги
        li.header__item
          a(href="equipment.html") Оборудование
        li.header__item
          a(href="works.html") Наши работы
        li.header__item
          a(href="partners.html") Партнеры
        li.header__item
          a(href="contacts.html") Контакты
    