header.header
  .wrapper
    nav.header__nav
      div.header__wrapper-logo
        button.burger
          #burger
            .bar.topBar
            .bar.btmBar
        .icon.icon-apple
        a.header__logo.menu-item.active(href="index.html")
          div.header__logo Сталь-Технология
      ul.header__list
        li.header__item
          a.menu-item(href="about.html") О нас
        li.header__item
          a.menu-item(href="services.html") Услуги
        li.header__item
          a.menu-item(href="equipment.html") Оборудование
        li.header__item
          a.menu-item(href="works.html") Наши работы
        li.header__item
          a.menu-item(href="contacts.html") Контакты
script(src='js/menu.js')
    