.map
  #google-map(style="width: 100%; height: 100%")
script(src="js/map.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQjatCqlyEhiYfMzuGrVw-CjdyiFHBts&signed_in=true&callback=initMap" async defer)
