.process
  .wrapper
    .process__block
      h1.process__title Процесс работы
      p.process__description Видеопроцесс металообработки выглядит действительно впечатляюще! <br> Посмотрите короткое видео о том, как обрабатываются наши детали.
      .process__video-wrapper
        img(src="./img/video.png").work-process__video