.process
  .wrapper
    .process__block
      .process__text
        h1.process__title Процесс работы
        p.process__description Видеопроцесс металообработки выглядит действительно впечатляюще! Посмотрите короткое видео о том, как обрабатываются наши детали.
      .process__video-wrapper
        img(src="./img/video.png").work-process__video