.promo
  .wrapper
    .promo__block
      h1.promo__title Мы занимаемся металлообработкой
      p.promo__description Закажите у нас металлообработку, самая лучшая металлообработка из всех металлобработок в мире!
      a.promo__link(href="contacts.html") Как проехать