.sections
  .wrapper
    ul.sections__list
      li.sections__item.sections__item--about
        a(href="about.html").sections__link
          span.sections__text О нас
      li.sections__item.sections__item--services
        a(href="services.html").sections__link
          span.sections__text Услуги    
      li.sections__item.sections__item--eq
        a(href="equipment.html").sections__link
          span.sections__text Оборудование
      li.sections__item.sections__item--works
        a(href="works.html").sections__link
          span.sections__text Наши работы