.about {
  padding: 50px 15px 90px;
  background-color: #fff;
}

.about__block {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 60px;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}

.about__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @gray;
  font-weight: 500;
  margin: 0;
  width: 100%;
}

@media(max-width: 768px) {
  .about {
    padding: 50px 30px;
    text-align: center;
  }

  .about__title {
    line-height: 45px;
  }
}